// Base.scss
@import 'brand';
@import 'typography';

body {
	background-color: $background-primary;
	width: 80%;
	margin: 0 auto;
}

div {
	padding: 1em;
}

input {
	padding: .5em 1em;
	border-radius: 0.6em;
    border: none;
    text-align: center;
}

label {

}

button {
	font-family: $font-family;
	font-weight: 400;
	font-size: 1.2rem;
	color: $font-on-primary;
	width: 128px;
    height: 32px;
    background: $background-primary-darker;
    box-shadow: 2px 4px 10px #616161;
    border: 1px  $font-on-primary;

    &:hover {
    	box-shadow: 2px 4px 15px #616161;
    	transition: box-shadow .10s;
    }

    &:active {
		box-shadow: 2px 4px 10px #616161;
    	transition: box-shadow .10s;
    }
}

code {

}

kbd {

}
