// Brand.scss
$background-primary-lighter: #ffffff;
$background-primary: #e0e0e0;
$background-primary-darker: #aeaeae;


$background-highlight-lighter: #ff6f60;
$background-highlight: #e53935;
$background-highlight-darker: #ab000d;

$font-on-primary: #2a2a2a;
$font-on-highlight: #050709;
