// Typography
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import 'brand';

$font-family: 'Roboto', sans-serif;
html > * {
	font-family: $font-family;
	font-weight: 400;
	color: $font-on-primary;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
}

h1 {
	font-size: 2rem;
	line-height: 1.2;
}

h2 {
	font-size: 1.8rem;
	line-height: 1.3;
}

h3 {
	font-size: 1.6rem;
	line-height: 1.4;
}

h4 {
	font-size: 1.4rem;
	line-height: 1.4;
}

h5 {
	font-size: 1.2rem;
	line-height: 1.4;
}

h6 {
	font-size: 1.0rem;
	line-height: 1.4;
}

p,a {
	font-size: 1.0rem;
	line-height: 1.2;
}

a {
	text-decoration: none;
	color: $background-highlight;
    &:visited {
      color: $background-highlight-lighter;
    }
    &:hover {
      color: $background-highlight-lighter;
      text-decoration: underline;   
    }
}

// Mark
mark {

}

// Delete
del {

}

// Strike
s {

}

// Insert
ins {

}

// Underline
u {

}

// Small
small {

}

// Strong
strong {

}

// Emphasize
em {

}

// Unordered List
ul {

}

// Ordered List
ol {

}


// List Item
li {

}

// Multi line code sample
pre {
	font-family: 'Source Sans Pro', sans-serif;
	font-style: 400;
	font-size: 1rem;
}

